<h1><%= @team.name %></h1>
<label> Roster </label>
<% @team.players.each do |player|%>
  <ul>
    <li><%= player.name %></li>
    <li><% player.position %></li>
    <li><% player.status %></li>
  </ul>
<%end%>
<a href= "/players/new"> Add Players to Your Team </a>

<br></br>

<form action= '/teams/<%= @team.id %>/delete' method= "POST">
  <input name="_method" type="hidden" value="delete">
  <input type= "submit" value= "Delete Team">
</form>
