<h1> Welcome To Sinatra Fantasy Football. Here are all the currently active leagues!</h1>
<a href= "leagues/new"> Don't see a league you like? Make one! </a>
<br></br>
<% @leagues.each do |league| %>
  <label>League Name: </label>
  <h3><%= league.name %></h3> <a href= "leagues/<%=league.id%>"> View League Details </a>
  <br></br>
<% end %>
<br></br>
