<h1><%= @league.name %></h1>
<a href= "/teams/new"> Join League</a>
<br></br>
<label> Standings: </label>
  <% @league.teams.each do |team| %>
    <h2><%= "#{team.id}: #{team.name}" %></h2>
    <h3><%= "#{team.wins} - #{team.losses}" %></h3>
  <% end %>
<br></br>

<a href= '/games/new'> Create new game </a>
<br></br>
<form action= '/leagues/<%= @league.id %>/delete' method= "POST">
  <input name="_method" type="hidden" value="delete">
  <input type= "submit" value= "Delete League">
</form>
