<h1> Create New Fantasy Game </h1>
<form action= '/leagues' method= "POST">
  <label>Winner: </label>
  <input type= "text" name= "winning_team_id" id= "winning_team_id">
  <br></br>
  <label>Loser: </label>
  <input type= "text" name= "losing_team_id" id= "losing_team_id">
  <br></br>
  <input type="submit" id= "submit" value="Submit">
</form>
