<h1><%= @player.name %></h1>
<h3><%= @player.position %></h3>
<h3><% %= @player.status %></h3>

<br></br>

<form action= '/players/<%= @player.id %>/delete' method= "POST">
  <input name="_method" type="hidden" value="delete">
  <input type= "submit" value= "Drop Player">
</form>
